<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A New CD</title>
  </head>
  <body>
    <h1>Add a new CD</h1>
    <form action="/add_new_cd" method="post">
      <label for "new-album">Album Name</label>
      <input name="new-album" type="text">
      <label for "new-artist">Artist Name</label>
      <input name="new-artist" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
