<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Artist Details</title>
  </head>
  <body>
    <h1>@Model.GetArtist()</h1>
    <ul>
      @foreach(string cd in Model.GetAlbums())
      {
        <li>@cd</li>
      }

    </ul>
    <a href="/view_all_artists">View All Cds</a>
    <a href="/add_cd">Add another Album</a>
    <a href="/search_form">Search for Artist</a>
  </body>
</html>
