<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search For Artist</title>
  </head>
  <body>
    <h1>Search for Artist</h1>
    <form action="/search_list" method="post">
      <label for "search-artist">Artist Name</label>
      <input name="search-artist" type="text">
      <button type="submit">Search</button>
    </form>
  </body>
</html>
